<a href="https://colab.research.google.com/github/ffvoigt/neuromatch-compneuro-2022-project/blob/development/Classification_NM2022_Sfenj1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# General

The job of this notebook is to:

* Load the feature data into a `master_df` DataFrame
* ...

## Style / naming guide / coding hints

* Axes in column labels such as 'X' and 'Y' are always capitalized: e.g. `left_ear_X`
* All coordinates are in cm, area in cm^2 etc.
* All angles are in degrees
* 0° is up / north in the video frame

# Housekeeping

In [1]:
import os
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import animation
from matplotlib import colors
from matplotlib import rc
import matplotlib.patches as mpatches
import seaborn as sns

# Loading the data from Google Drive

In [2]:
#Because we are using a Shared with me drive, we need to have a small workaround
#In your shared with me folder, right click on:
#NMA_2022_Sfenj_Group_1"
#And click "Make a shortcut", and have this shortcut within your own drive

#now we can mount our drive
from pickle import load
# mount google drive
from google.colab import drive
drive.mount('/content/drive')
#Since you have mounted your drive, which includes this shortcut, you can now access the files within that shortcut:
feature_df = pd.read_csv('/content/drive/MyDrive/NMA_2022_Sfenj_Group_1/unstable_feature_df.csv')

#test by showing the head
feature_df.head()

Mounted at /content/drive

,Unnamed: 0,Unnamed: 0.1,frame_num,session_num,mouse_id,annotations,nose_X,nose_Y,left_ear_X,left_ear_Y,...,head_orientation,spd_head_centroid,spd_body_centroid,spd_centroid,acc_head_centroid,acc_body_centroid,acc_centroid,distance,poly_area_head,poly_area_body
0,0,0,0,0,0,3,22.059926,5.382346,21.370271,6.655555,...,-76.930682,NaN,NaN,NaN,NaN,NaN,NaN,4.244334,0.378178,1.377622
1,1,1,1,0,0,1,22.096829,5.355307,21.460224,6.681567,...,-81.724107,2.470806,6.215506,4.074207,NaN,NaN,NaN,4.257485,0.352497,1.259771
2,2,2,2,0,0,1,22.247188,4.770894,21.663633,6.495032,...,-102.724356,7.378437,3.004966,3.851131,147.228931,-96.316187,-6.692275,4.378617,0.557240,1.263289
3,3,3,3,0,0,1,21.929907,4.645837,21.638130,6.237349,...,-102.994617,6.647651,2.418231,3.412081,-21.923601,-17.602061,-13.171507,4.361401,0.437631,1.380436
4,4,4,4,0,0,1,21.804926,4.627531,21.539674,5.900741,...,-94.236395,7.185160,3.110226,4.968029,16.125266,20.759847,46.678465,4.307015,0.255402,1.513766